.user_card {
  border-color: #f6398d;
  padding: 30px 0px;
}

.cardtitle {
  color: #f6398d;
}

.btn_edit,
.btn_delete:hover {
  color: white !important;
  background-color: #f6398d !important;
  border: 0 !important;
  margin-right: 10px;
}

.btn_edit:hover,
.btn_delete {
  border: 1px solid #f6398d !important;
  background-color: white !important;
  color: #f6398d !important;
}
