.form_header {
  margin: 25px 0px !important;
}

Label,
Input {
  color: #f6398d !important;
}

.user_card {
  border-color: #f6398d !important;
  padding: 30px 0px;
}

.btn_submit,
.btn_cancel:hover {
  color: white !important;
  background-color: #f6398d !important;
  border: 0 !important;
}

.btn_submit:hover,
.btn_cancel {
  border: 1px solid #f6398d !important;
  background-color: white !important;
  color: #f6398d !important;
}

.reg_link {
  text-decoration: none !important;
  color: #000;
  font-weight: 600;
}

.reg_link:hover {
  color: #f6398d !important;
  border: 1px solid #f6398d;
  padding: 10px;
  border-radius: 5px;
}
