.bgcolor {
  background-image: -webkit-linear-gradient(
    45deg,
    #f6463d 0%,
    #f6398d 45%,
    #f52cdc 100%
  );
}
.banner_data {
  color: white;
  text-transform: uppercase;
  font-weight: 700 !important;
  line-height: 1.5 !important;
  padding-top: 250px;
  text-align: center;
}
