.form_header {
  margin: 25px 0px !important;
}

Label,
Input {
  color: #f6398d !important;
}

.btn_submit,
.btn_cancel:hover {
  color: white !important;
  background-color: #f6398d !important;
  border: 0 !important;
}

.btn_submit:hover,
.btn_cancel {
  border: 1px solid #f6398d !important;
  background-color: white !important;
  color: #f6398d !important;
}
